[submodule "clevr"]
	path = clevr
	url = https://github.com/facebookresearch/clevr-dataset-gen.git
[submodule "simulation/2d/Box2D"]
	path = simulation/2d/Box2D
	url = /Users/tates/Workspace/self/hacettepe/intuitive-physics/simulation/2d/Box2D
